#Do not commit those folders/files
.htaccess
.gitignore
index.php
settings.php
admin.php
404.php
login.php
contact.php
aboutMe.php
blog.php
certifications.php
home.php
robots.txt
assets/
#~demo/
.idea/
/nbproject/
.buildpath
.project
.settings/
.tern-project

